{% extends "base.html" %}
{% block content %}

<!--Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Login</h1>
            <p class="lead fw-normal text-white-50 mb-0">Login to your account</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br><br>
                <form action="">
                    <div class="mb-3">
                        <label for="exampleInputEmail" class="form-label">
                            Email address
                        </label>
                        <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">
                            We'll never share your email with anyone else
                        </div>
                        
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword" class="form-label">
                            Password
                        </label>
                        <input type="password" class="form-control" id="exampleInputPassword">
                        
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label for="exampleCheck1" class="form-check-label">
                            Check me out
                        </label>
                    </div>
                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>
                </form>
                <br><br>
                <br><br>
                <br><br>
                <br><br>
            </div>
        </center>
    </div>
</div>
{% endblock content %}